<h2>Log in</h2>
<%= form_with url: login_path, scope: :user do |form| %>
    <Label for="email">
        Email
        <%= form.email_field :email, required: true %>
    </Label>
    <br/>
    <Label for="password">
        Password
        <%= form.password_field :password, required: true %>
    </Label>
    <br/>
    <%= form.submit "Sign in" %>
<% end %>
