<div class="flex justify-between items-center bg-blue-500 p-4">
  
  <!-- Left side: Logo and Text -->
  <div class="flex items-center space-x-4">
    <%= image_tag 'navbar_logo.png', alt: 'Logo', class: 'h-8 w-8' %>
    <span class="text-white font-semibold text-lg">Company</span>
  </div>
  
  <!-- Right side: Links -->
  <div class="flex space-x-6">
    <a class="text-white hover:text-gray-200">
      <%= link_to "home", root_path %>
    </a>
    <a class="text-white hover:text-gray-200">
      <%= link_to "linkedin", "https://www.linkedin.com/in/iaanjohnston/" %>
    </a>



  </div>
</div>

